{% extends "zeapp/base.html" %}
{% block content %}
    <section class="container">
        <div class="row justify-content-md-center mt-4">
            <div class="col-md-6">
                <div class="card" style="background-color:rgba(24, 25, 32, 1)">
                  <div class="card-body">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="badge badge-danger"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input name='title' id="title" type="text" class="form-control" aria-label="" aria-describedby="For typing new Task to Add" placeholder="New task ..." required>
                            <div class="input-group-append">
                                <button class="btn btn-info" type="submit">+</button>
                            </div>
                          </div>
                    </form>
                    {% if tasks %}
                    <ul class="list-group">
                        {% for task in tasks %}
                            <li class="list-group-item d-flex">
                                <span class="mr-auto">{{task.title}}</span>  <a class="btn btn-danger" href="{% url 'delete_task' task.id %}" role="button">-</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}{% endif %}
                    <h4 class="card-title">

                    </h4>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        title = document.getElementById('title')
        title.focus()
    </script>
{% endblock content %}